body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* CUSTOM CSS */


.cover-image {
  display: block;
  width: 250px;
  height: 300px;
  object-fit:scale-down;

  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;


  /* position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover; */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 33px;
  opacity: 0.6;
  transition: .5s ease;
}

.top-overlay {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 28px;
  opacity: 0.6;
  transition: .5s ease;
}

.card-container:hover .overlay {
  height: 95px;
}

.card-title {
  color: white;
  font-size: 15px;
  padding: 6px;
  text-align: center;
}

.paid-logo {
  color: #47B34F;
  font-size: 20px;
  text-align: center;
}

.detail-overlay {
  margin: 0
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}